<form [formGroup]="form" class="ion-margin">
  <div class="ion-margin-vertical">
    <ion-item lines="full">
      <ion-input formControlName="name" type="text" placeholder="Name"></ion-input>
    </ion-item>
    <ion-text  
      color="danger" 
      *ngIf="!form.get('name').valid && form.get('name').touched">
      <ion-text
        class="error" 
        *ngIf="form.get('name').hasError('required')">
        * Please enter the first name
      </ion-text>
    </ion-text>
  </div> 
  <div class="ion-margin-vertical">
    <ion-item lines="full">
      <ion-input formControlName="surname" type="text" placeholder="Surname"></ion-input>
    </ion-item>
    <ion-text  
      color="danger" 
      *ngIf="!form.get('surname').valid && form.get('surname').touched">
      <ion-text
        class="error" 
        *ngIf="form.get('surname').hasError('required')">
        * Please enter the surname
      </ion-text>
    </ion-text>
  </div> 
  <div class="ion-margin-vertical">
    <ion-item lines="full">
      <ion-input formControlName="username" type="text" placeholder="Username"></ion-input>
    </ion-item>
    <ion-text  
      color="danger" 
      *ngIf="!form.get('username').valid && form.get('username').touched">
      <ion-text
        class="error" 
        *ngIf="form.get('username').hasError('required')">
        * Please enter the username
      </ion-text>
    </ion-text>
  </div> 
  <div class="ion-margin-vertical">
    <ion-item lines="full">
      <ion-input formControlName="email" type="text" placeholder="Email"></ion-input>
    </ion-item>
    <ion-text  
      color="danger" 
      *ngIf="!form.get('email').valid && form.get('email').touched">
      <ion-text
        class="error" 
        *ngIf="form.get('email').hasError('required')">
        * Please enter the email
      </ion-text>
      <!-- for email error -->
      <ion-text
        class="error" 
        *ngIf="!form.get('email').hasError('required') 
          && form.get('email').hasError('email')">
        * Please enter a proper email
      </ion-text>
    </ion-text>
  </div>
  <div class="ion-margin-vertical">
    <ion-item lines="full">
      <ion-input formControlName="contact" type="text" placeholder="Contact Number"></ion-input>
    </ion-item>
    <ion-text  
      color="danger" 
      *ngIf="!form.get('contact').valid && form.get('contact').touched">
      <ion-text
        class="error" 
        *ngIf="form.get('contact').hasError('required')">
        * Please enter the contact number
      </ion-text>
      <ion-text
        class="error"  
        *ngIf="!form.get('contact').hasError('required') && form.get('contact').hasError('minlength')">
        * Please enter a contact number with 10 digits
      </ion-text>
    </ion-text>
  </div> 
  <div class="ion-margin-vertical">
    <ion-item lines="full">
      <ion-icon 
        [name]="type ? 'eye' : 'eye-off'" 
        slot="end" 
        color="dark" 
        (click)="changeType()">
      </ion-icon>
      <ion-input formControlName="password" [type]="type ? 'password' : 'text'" 
        placeholder="Password"></ion-input>
    </ion-item>
    <ion-text 
      color="danger" 
      *ngIf="!form.get('password').valid && form.get('password').touched">
      <ion-text
        class="error"  
        *ngIf="form.get('password').hasError('required')">
        * Please enter a password
      </ion-text>
      <ion-text
        class="error"  
        *ngIf="!form.get('password').hasError('required') && form.get('password').hasError('minlength')">
        * Please enter a password of atleast 8 characters long
      </ion-text>
    </ion-text>
  </div>

  <div class="ion-margin-vertical">
    <ion-item lines="full">
      <ion-icon 
        [name]="type ? 'eye' : 'eye-off'" 
        slot="end" 
        color="dark" 
        (click)="changeType()">
      </ion-icon>
      <ion-input formControlName="confirm_password" [type]="type ? 'password' : 'text'" 
        placeholder="Confirm Password"></ion-input>
    </ion-item>
    <ion-text 
      color="danger" 
      *ngIf="!form.get('confirm_password').valid && form.get('confirm_password').touched">
      <ion-text
        class="error"  
        *ngIf="form.get('confirm_password').hasError('required')">
        * Please confirm your password
      </ion-text>
      <ion-text
        class="error"  
        *ngIf="!form.get('confirm_password').hasError('required') && form.get('confirm_password').hasError('minlength')">
        * Please enter a password of atleast 8 characters long
      </ion-text>
      <ion-text class="error" *ngIf="form.get('confirm_password').hasError && form.get('confirm_password').hasError('confirmedValidator')">
        * Passwords do not match.
      </ion-text>
    </ion-text>
  </div>
</form>

<div class="ion-margin-horizontal">
  <ion-button
    *ngIf="!isLoading"
    size="large" 
    expand="block" 
    shape="round" 
    color="primary"
    (click)="onSubmit()">
    <ion-text>Sign Up</ion-text>
  </ion-button>
  <ion-button
    *ngIf="isLoading"
    size="large" 
    expand="block" 
    shape="round" 
    color="primary">
    <ion-spinner></ion-spinner>
  </ion-button>
</div>

<p class="ion-text-center">
  <ion-text color="medium">OR</ion-text>
</p>

<p class="ion-text-center">
  <ion-icon name="logo-facebook" color="tertiary"></ion-icon>
  <ion-icon name="logo-twitter" color="secondary"></ion-icon>
  <ion-icon name="logo-google" color="danger"></ion-icon>
</p>