<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/auth-screen"></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <form [formGroup]="form" class="ion-margin"> 
  <div class="ion-margin-vertical">
    <ion-item lines="full">
      <ion-input formControlName="email" type="text" placeholder=" Email address"></ion-input>
    </ion-item>
    <ion-text  
      color="primary" 
      *ngIf="!form.get('email').valid && form.get('email').touched">
      <ion-text
        class="error" 
        *ngIf="form.get('email').hasError('required')">
        * Please enter email
      </ion-text>
    </ion-text>
  </div>
</form> -->

<ion-content align="center" class="ion-padding">
  <ion-card>
    <ion-card-header style="text-align: center;">
      <ion-card-title>Reset Your Password</ion-card-title>
      <ion-card-subtitle>Please enter your email address</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label position="floating">Email Address</ion-label>
          <ion-input type="text" [(ngModel)]="email"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
    <ion-button expand="block" shape="round" (click)="resetPassword()">Reset Password</ion-button>
</ion-content>