
<ion-content fullscreen>
  <ion-toolbar color="primary">
    <div class="ion-text-center">
      <ion-text style="font-size: 1.5rem;"><b>YOUR CART</b></ion-text>
    </div>
  </ion-toolbar>

  <div class="ion-text-end">
    <ion-button (click)="close()" fill="clear" color="dark">
      <ion-icon name="close" slot="start"></ion-icon>
    </ion-button>
  </div>
  

  <div class="ion-padding">

      <ion-list>
        <ion-item *ngFor="let p of cart" class="ion-text-wrap">
          <ion-grid>
            <ion-row>
              <ion-thumbnail size="8" *ngIf="p?.cover">
                <ion-img [src]="p?.cover"></ion-img>
              </ion-thumbnail>
            </ion-row>
            <ion-row class="ion-align-items-center">
              <ion-col size="2" class="ion-align-sel-center">
                <ion-button color="medium" fill="clear" (click)="decreaseCartItem(p)">
                  <ion-icon name="remove-circle" slot="icon-only"></ion-icon>
                </ion-button>
              </ion-col>

              <ion-col size="1.5" class="ion-align-self-center">
                {{ p.amount }}
              </ion-col>

              <ion-col size="1.5" class="ion-align-self-center">
                <ion-button color="medium" fill="clear" (click)="increaseCartItem(p)">
                  <ion-icon name="add-circle" slot="icon-only"></ion-icon>
                </ion-button>
              </ion-col>

              <ion-col size="2" offset="5">
                <ion-button color="medium" fill="clear" (click)="removeCartItem(p)">
                  <ion-icon name="close-circle" slot="icon-only"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
            
            <ion-row>
              <ion-col size="8">
                <b>{{p.name}}</b>
              </ion-col>
              <ion-col size="4" class="ion-text-end">
                {{ p.amount * p.price | currency: 'R' }}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col size="8">
                Total:
              </ion-col>
              <ion-col size="4" class="ion-text-end">
                {{ getTotal() | currency: 'R' }}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>

      <ion-button expand="full" (click)="checkout()" >
        Checkout
      </ion-button>
  </div>

</ion-content>
